# Node dependencies
node_modules/
.pnpm-store/
.yarn/

# Build & Compilation outputs
dist/
build/
out/
web-build/
*.tsbuildinfo

# Framework & Tool Caches
.cache/
.docusaurus/
.expo/
.expo-shared/

# Testing & Coverage
coverage/
.nyc_output/
.clover/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment files & Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*.local
*.env
!*.env.example
!**/.env.example

# Credentials, Keys & Certificates
*.pem
*.key
*.p12
*.pfx
*service-account*.json
*credentials*.json

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfstate.lock.info
terraform.tfvars
terraform.tfvars.json
*.auto.tfvars
*.auto.tfvars.json

# Operating System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDEs and Code Editors
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.swp
*.swo
*~
