# AWS Client & Cognito Credentials
EXPO_PUBLIC_AWS_REGION=eu-central-1
EXPO_PUBLIC_COGNITO_USER_POOL_ID=eu-central-1_example
EXPO_PUBLIC_COGNITO_CLIENT_ID=abcdef1234567890example
EXPO_PUBLIC_COGNITO_IDENTITY_POOL_ID=eu-central-1:00000000-0000-0000-0000-000000000000
EXPO_PUBLIC_COGNITO_DOMAIN=librarian-dev-auth.auth.eu-central-1.amazoncognito.com

# DynamoDB Table Names
EXPO_PUBLIC_DYNAMODB_BOOKS_TABLE=librarian-dev-books
EXPO_PUBLIC_DYNAMODB_SERIES_TABLE=librarian-dev-series
EXPO_PUBLIC_DYNAMODB_SERIES_STATUS_TABLE=librarian-dev-user-series-status

# App Environment Configuration
EXPO_PUBLIC_ENV=development
