aws_region          = "eu-central-1"
environment         = "dev"
project_name        = "librarian"
waf_rate_limit      = 2000

# Optional: OAuth 2.0 Credentials for Federated Identity Providers in Cognito
google_client_id     = ""
google_client_secret = ""
apple_client_id      = ""
